[Desktop Entry]
Name=PKGBUILD Manager
Name[pt_BR]=Gerenciador de PKGBUILD
Comment=Build, validate and publish Arch Linux packages
Comment[pt_BR]=Compile, valide e publique pacotes do Arch Linux
Exec=pkgbuild-manager-gui settings
Icon=io.github.PkgbuildManage
Terminal=false
Type=Application
Categories=Development;
Keywords=pkgbuild;aur;arch;package;
StartupNotify=true
